# Ignore node_modules directory
node_modules/

# Ignore build output directories
dist/
build/

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
*.iml

# Ignore compiled files
*.out
*.class
*.exe

# Ignore temporary files
*.tmp
*.swp

# Ignore dependencies
yarn.lock

# Ignore coverage reports
coverage/
*.lcov

# Ignore other files you don't want to track
my-secret-file.txt
